#body { 
    position: relative; 
} 
    
#body::before { 
    content: ""; 
    position: absolute; 
    top: 0; 
    left: 0; 
    right: 0; 
    bottom: 0; 
    background-image: url('images/tree.png'); 
    background-size: cover; 
    opacity: 0.4; /* Change the opacity of the background */
    z-index: -1; /* Ensure the background stays behind the text */ 
} 